/*Borders for design*/
a,
li,
p,
h1,
h2,
h3,
h4 {
  border: 1px red solid;
}

div {
  border: 1px cyan solid;
}
*/
/*Universal CSS for document*/
html{
  font-size: 16px;
  line-height: 1.2;
}

a{

}

p{
  font-size: 1rem;
}

h1{
  font-size: 1.75rem;
}

h2{
  font-size: 2.5rem;
}

h3{
  font-size: 2rem;
}

h4{

}

/*Specifics for the content of the site*/

/*Header section*/
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo{
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .logo img{
  height: 2rem;
  width: 2rem;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
}
nav li{
  display: inline-block;
  padding: 1rem 0.5rem;
}
nav li:last-child{
  margin-right: 1rem;
}

/*Jumbotron*/
.jumbotron{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  width: 80%;
  display: flex;
  align-items: center;
}
.j-img{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.j-img img{
  height: auto;
  margin: 2rem 1.5rem;
}

.j-content{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/*Campus section*/
.campus{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.campus .container{
  width: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.camp-img{
  width: 60%;
  display: flex;
  margin: 2rem 1.5rem;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.camp-img img{
  width: 98%;
  height: auto;
}

.side-bar-right{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

.event-card{
  display: flex;
  flex-direction: row;
}

.event-card-img{
  margin: 1rem;
  width: 35%;
  height: auto;
}

.event-card-img img{
  overflow: hidden;
  height: auto;
  width: 100%;
}

.event-card-content{
  display: flex;
  width: 65%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/*Courses Section*/
.courses{
  display: flex;
  align-items: center;
  justify-content: center;
}
.courses .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.banner{
  padding: 2rem 0 0 0;
}

.grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem 4.5rem;
  align-items: flex-start;
  justify-content: center;
}

.course-card{
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: space-between;
}

.course-card-img img{
  width: 100%;
  height: auto;
}

/*Thesis Exisbits Section*/

/*Footer section*/
